{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Cessna 172N | Performance | Weight & Balance</title>
        <link href="{% static 'home/styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="home-page">
            <div class="button-holder">
                <button class="app-selector">
                    <a href="{% url 'performance:input' %}">Performance</a>
                </button>
                <button class="app-selector">
                    <a href="{% url 'weight_balance:input' %}">Weight & Balance</a>
                </button>
            </div>
        </div>
    </body>
</html>