{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cessna 172N | Weight and Balance | Output Data</title>
        <link href="{% static 'weight_balance/styles_output.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="output-data-container">
                <div class="header-container">
                <h3 id="header1">Weight and Balance</h3>
                </div>
                <p class="output-data">Takeoff weight [lb]: {{ weight_balance_data.takeoff_weight }}</p>
                <p class="output-data">Takeoff moment [lb-in]: {{ weight_balance_data.takeoff_moment }}</p>
                <p class="output-data">C.G location [in]: {{ weight_balance_data.cg_location }}</p>
                <p class="output-data">Condition: {{ weight_balance_data.condition }}</p>
            </div>
        </div>
    </body>
</html>