{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cessna 172N | Performance | Weight & Balance</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="home-page">
            <div class="button-holder">
                <button class="app-selector">Performance</button>
                <button class="app-selector">Weight & Balance</button>
            </div>
        </div>
    </body>
</html>