{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cessna 172N | Performance | Input Form</title>
        <link href="{% static 'performance/styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="form-container">
            <form class="form" action="" method="post">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% load widget_tweaks %}

                <!-- Main form header -->
                <div class="main-form-header">
                    <h1 class="form-text">Please provide de following information</h1>
                </div>

                <!-- General data -->
                <div class="sub-header">
                    <h2 class="form-text">General data</h2>
                </div>

                <div class="input-container">
                    <label class="form-text">Takeoff weight [lb]:</label>
                    {{ form.to_weight|add_class:"input-field" }}
                    <p class="error">{{ form.to_weight.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Fuel capacity [gal]:</label>
                    {{ form.fuel_capacity|add_class:"radio-input-field" }}
                </div>

                <!-- Takeoff data -->
                <div class="sub-header">
                    <h2 class="form-text">Takeoff data</h2>
                </div>

                <div class="input-container">
                    <label class="form-text">Takeoff runway number:</label>
                    {{ form.to_rwy|add_class:"input-field" }}
                    <p class="error">{{ form.to_rwy.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff runway length [ft]:</label>
                    {{ form.to_length|add_class:"input-field" }}
                    <p class="error">{{ form.to_length.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff runway condition:</label>
                    {{ form.to_condition|add_class:"radio-input-field" }}
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff pressure altitude [ft]:</label>
                    {{ form.to_press_alt|add_class:"input-field" }}
                    <p class="error">{{ form.to_press_alt.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff temperature [°C]:</label>
                    {{ form.to_temp|add_class:"input-field" }}
                    <p class="error">{{ form.to_temp.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff wind speed [kts]:</label>
                    {{ form.to_wind_speed|add_class:"input-field" }}
                    <p class="error">{{ form.to_wind_speed.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Takeoff wind direction [°]:</label>
                    {{ form.to_wind_direction|add_class:"input-field" }}
                    <p class="error">{{ form.to_wind_direction.errors.as_text }}</p>
                </div>

                <!-- Cruise data -->
                <div class="sub-header">
                    <h2 class="form-text">Cruise data</h2>
                </div>

                <div class="input-container">
                    <label class="form-text">Travel distance [nm]:</label>
                    {{ form.travel_dist|add_class:"input-field" }}
                    <p class="error">{{ form.travel_dist.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise heading [°]:</label>
                    {{ form.cr_heading|add_class:"input-field" }}
                    <p class="error">{{ form.cr_heading.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise altitude [ft]:</label>
                    {{ form.cr_press_alt|add_class:"input-field" }}
                    <p class="error">{{ form.cr_press_alt.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise temperature [°C]:</label>
                    {{ form.cr_temp|add_class:"input-field" }}
                    <p class="error">{{ form.cr_temp.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise wind speed [kts]:</label>
                    {{ form.cr_wind_speed|add_class:"input-field" }}
                    <p class="error">{{ form.cr_wind_speed.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise wind direction [°]:</label>
                    {{ form.cr_wind_direction|add_class:"input-field" }}
                    <p class="error">{{ form.cr_wind_direction.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Cruise power [rpm]:</label>
                    {{ form.cr_power|add_class:"input-field" }}
                    <p class="error">{{ form.cr_power.errors.as_text }}</p>
                </div>

                <!-- Landing data -->
                <div class="sub-header">
                    <h2 class="form-text">Landing data</h2>
                </div>

                <div class="input-container">
                    <label class="form-text">Landing runway number:</label>
                    {{ form.land_rwy|add_class:"input-field" }}
                    <p class="error">{{ form.land_rwy.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Landing runway length [ft]:</label>
                    {{ form.land_length|add_class:"input-field" }}
                    <p class="error">{{ form.land_length.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Landing runway condition:</label>
                    {{ form.land_condition|add_class:"radio-input-field" }}
                </div>
                <div class="input-container">
                    <label class="form-text">Landing pressure altitude [ft]:</label>
                    {{ form.land_press_alt|add_class:"input-field" }}
                    <p class="error">{{ form.land_press_alt.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Landing temperature [°C]:</label>
                    {{ form.land_temp|add_class:"input-field" }}
                    <p class="error">{{ form.land_temp.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Landing wind speed [kts]:</label>
                    {{ form.land_wind_speed|add_class:"input-field" }}
                    <p class="error">{{ form.land_wind_speed.errors.as_text }}</p>
                </div>
                <div class="input-container">
                    <label class="form-text">Landing wind direction [°]:</label>
                    {{ form.land_wind_direction|add_class:"input-field" }}
                    <p class="error">{{ form.land_wind_direction.errors.as_text }}</p>
                </div>

                <button class="submit-button" type="submit" name="submit">Compute</button>
            </form>
        </div>
    </body>
</html>