{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cessna 172N | Performance | Output Data</title>
        <link href="{% static 'performance/styles_output.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="output-data-container">
                <div class="header-container">
                <h3 id="header1">Performance data</h3>
                </div>
                <p class="output-data">Takeoff ground roll [ft]: {{ performance_data.to_roll }}</p>
                <p class="output-data">Takeoff 50-ft ground roll [ft]: {{ performance_data.to_50_roll }}</p>
                <p class="output-data">Takeoff ROC [ft/min]: {{ performance_data.to_roc }}</p>
                <p class="output-data">Endurance [hours]: {{ performance_data.max_endurance }}</p>
                <p class="output-data">Range [nm]: {{ performance_data.max_range }}</p>
                <p class="output-data">Fuel required [gal]: {{ performance_data.fuel_required }}</p>
                <p class="output-data">Fuel reserve [gal]: {{ performance_data.fuel_reserve }}</p>
                <p class="output-data">Landing ground roll [ft]: {{ performance_data.land_roll }}</p>
                <p class="output-data">Landing 50-ft ground roll [ft]: {{ performance_data.land_50_roll }}</p>
            </div>
        </div>
    </body>
</html>